@import url('https://fonts.googleapis.com/css2?family=Lato&family=Limelight&family=Sono&display=swap');

:root {
    --background: #ffe6ef;
    --maincolor: #001780;
    --accent: #3bc9f5;

}
body {
    margin: 0;
    overflow-x: hidden;
    background-color: var(--background);
    width: 100vw;
    height: 100vh;
    justify-content: center;

}

.content {
    max-width: 100vw;
    min-height: 100vh;
    justify-content: center;
    align-items: center;
    margin: 50px;


}

.title-stuff {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    color: var(--maincolor);
    max-width: 100vw;
    height: auto;
    margin: 50px;
}

.title {
    font-family: 'Limelight', cursive;
    font-size: 55px;
    display: flex;
    position: relative;
    margin-top: 60px;
    text-align: center;

}

.subtitle {
    font-family: 'Sono', sans-serif;
    position: relative;
    display: flex;
    font-size: 20px;
    text-align: center;
    justify-content: center;
    margin-top: 10px;

}




.polaroids {
    position: relative;
    transform: translateY(90px);
    display: flex;
    max-width: 100vw;


}

.pic {
    flex: 1;
    font-family: 'Sono', sans-serif;
    text-align: center;
}

.pic h3 {
    transform: translateY(-90px);
}

.polaroids2 {
    position: relative;
    transform: translateY(150px);
    display: flex;
    max-width: 100vw;
}

