body {
    justify-content: center;
    margin: 0;
    overflow: hidden;
    align-items: center;
    width: 100vw;
    height: 100vh;
    background-color: #f5f2f0;
    display: flex;
}

.container {
    justify-content: center;
    align-items: center;
    width: 800px;
    padding: 50px 20px;
    background-color: #f7b272;
    border-radius: 10px;
    text-align: center;
}

h3 {
    opacity: .8;
    margin: 0;
    letter-spacing: 1px;
}

.joke {
    margin: 50px auto;
    font-size: 30px;
    max-width: 600px;
    line-height: 40px;
    letter-spacing: 1px;
}

.btn {
    border: 0;
    border-radius: 10px;
    padding: 14px 40px;
    font-size: 16px;
}

.home {
    font-family: 'Prompt', sans-serif;
    color: black;
    background-color: transparent;
    position: absolute;
    border: 0;
    height: 50px;
    width: 50px;
    font-size: 19px;
    cursor: pointer;
    top: 20px;
    left: 10px;
    z-index: 4;
    transform: transition: 0.3s ease;

  }

  .home:active {
    transform: scale(.98);
    color: #dedede;
  }