
:root {
    --background: #f5e8df;
    --maincolor: #3461a3;
    --accent: #3bc9f5

}
body {
    background-color: var(--background);

}

.content {
    background-color: var(--maincolor);
    display: flex;
    width: 50vw; 
    height: 50vh;
    background-repeat: no-repeat;
    background-size: cover;
}