


body {
    background-color: #1e2563;
    margin: 0;
    display: flex;
    height: 100vh;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}

.container {
    text-align: center
}

.progress-container {
    display: flex;
    justify-content: space-between;
    position: relative;
    margin-bottom: 30px;
    width: 360px;
    max-width: 100%;

}


.progress-container::before {
    content: '';
    height: 4px;
    width: 100%;
    background-color: var(--color1);
    position: absolute;
    top: 50%;
    z-index: -1;
    transform: translateY(-50%);
}

.progress {
    background-color: var(--color2);
    height: 4px;
    width: 100%;
    background-color: var(--color2);
    position: absolute;
    top: 50%;
    z-index: -1;
    transform: translateY(-50%);
}
