@import url('https://fonts.googleapis.com/css2?family=Prompt:wght@300&display=swap');


body {
    background-color: #1e2563
    font-family: 'Prompt', sans-serif;
    margin: 0;
    display: flex;
    height: 100vh;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    color: white;
}

.container {
    text-align: center
}

.progress-container {
    display: flex;
    justify-content: space-between;
    position: relative;
    margin-bottom: 30px;
    width: 360px;
    max width: 100%;

}


.progress-container::before {
    content: 'hello';
}

.progress {
    background-color: var(--color1);
}