@import url('https://fonts.googleapis.com/css2?family=Prompt:wght@300&display=swap');

:root {
    --color1: #1e2563;
    --color2: #5e0c5c;
    --background: #1f1f1f;
}

body {
    font-family: 'Prompt', sans-serif;
    background-color: black;
    margin: 0;
    display: flex;
    height: 100vh;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    color: white;
}

.container {
    text-align: center
}

.progress-container {
    display: flex;
    justify-content: space-between;
    position: relative;
    margin-bottom: 30px;
    width: 350px;
    max-width: 100%;

}


.progress-container::before {
    content: '';
    height: 4px;
    width: 100%;
    background-color: var(--color1);
    position: absolute;
    top: 50%;
    z-index: -1;
    left: 0;
    transform: translateY(-50%);
}

.progress {
    background-color: var(--color2);
    height: 4px;
    width: 50%;
    position: absolute;
    top: 50%;
    z-index: -1;
    left: 0;
    transform: translateY(-50%);
}
