@import url('https://fonts.googleapis.com/css2?family=Oswald&display=swap');


body {
    margin: 0;
    overflow: hidden;
    height: 100vh;
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: row;
    background-color: #f04397;
}

.btn {
    font-family: 'Oswald', sans-serif;
    position: relative;
    font-size: 30px;
    margin: 10px 20px;
    border-radius: 6px;
    padding: 10px 25px;
    box-shadow: 8px 3px 4px 0px #0862ff, 6px 7px 0px 3px #00d1ed, 6px 6px 0px 6px #eddd00 ;
    border: 2px solid #eddd00;
    text-align: center;
    background-color: #e3197b;
    color: white;
    cursor: pointer;

}

.btn:active {
    font-family: 'Oswald', sans-serif;
    position: relative;
    font-size: 30px;
    margin: 10px 20px;
    border-radius: 6px;
    padding: 10px 25px;
    box-shadow: 6px 2px 3px 0px #0862ff, 4px 6px 0px 2px #0862ff, 4px 5px 0px 5px #dbc30b ;
    border: 2px solid #dbc30b;
    text-align: center;
    background-color: #e8107c;
    color: grey;
    scale: .98;

}


.home {
    color: white;
    background-color: transparent;
    position: absolute;
    border: 0;
    left: 10px;
    height: 50px;
    width: 50px;
    font-size: 24px;
    top: 20px;
    cursor: pointer;
    transform: transition: 0.3s ease;

  }

  .home:active {
    transform: scale(.98);
    color: grey;
  }